//COLORS
$base-color: #0e0f26;
$primary-color: #131434;
$secondary-color: #5f23a5;
$tertiary-color: #302399;
$text-color: #fffcff;

$base-color-faded: rgba(14, 15, 38, 0.6);
$primary-color-faded: rgb(19, 20, 52, 0.6);

//FONT WEIGHTS
$fat-weight: 600;
$medium-weight: 400;
$slim-weight: 200;

//GAPS and PADDINGS
$big-gap: 128px;
$medium-gap: 64px;
$small-gap: 32px;

$mobile-padding: 16px;
$desktop-padding: 24px;

//BREAKPOINTS
$tablet-screen: 475px;
$desktop-screen: 1024px;

//BORDERS
$radius: 16px;
$small-radius: 10px;

//SHADOWS
$shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
